.property {
    background-color:#f5f5f5;
    color:#808080;
    font-size:80%;
}

table, th, td
{
    border-collapse:collapse;
    border:1px solid black;
}

th, td
{
    padding:5px;
}

/* Starting div styles */
.typeName {
  color:pink;
  background-color:#004444;
}

.asString {
  color:white;
}

.asIterable {
  color:blue;
}

.asProduct {
  color:green;
}

.asMap {
  color:yellow;
}

.fields {
  background-color:#000000;
}

.field {
  background-color:#444444;
}

.fieldName {
  background-color:#222222;
}

.fieldValue {
  background-color:#666666;
}

