.property {
    background-color:#f5f5f5;
    color:#808080;
    font-size:80%;
}

table, th, td
{
    border-collapse:collapse;
    border:1px solid black;
}

th, td
{
    padding:5px;
}

/* Starting div styles */
.typeName {
  color:#002200;
  background-color:#FFFFFF;
}

.asString {
  color:dark-grey;
}

.asIterable {
  color:blue;
}

.asProduct {
  color:green;
}

.asMap {
  color:black;
}

.fields {
  padding-left:25px;
  background-color:#F5FFFF;
  margin: 0px;
}

.field {
  background-color:#FFF5FF;
  padding: 0px;
  margin: 0px;
}

.fieldName {
  color:#222222;
}

.fieldValue {
  color:#666666;
}

