.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.container {
    width: 800px;
}
.topbar {
    margin-right: auto;
    margin-left: auto;
    /*width: 800px;*/
    /*background-color: #f5f5f5;*/
    position: relative;
}
.alertDiv {
    /*display: inline-block;*/
    margin: 0 auto;
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.alert {
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 100;
    display: inline-block;
    /*display: none;*/
}
.cell {
    position: relative !important;
    width: 100%;
    overflow: hidden;
    padding: 1px;
}
.light-border {
    border: 1px solid #F0F0F0;
}
.cellWrapper {
    position: relative !important;
    width: 100%;
    overflow: hidden;
}
textarea {
    font-size: 12pt;
    font-family: Lucida Console;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}
.editorBody {
    padding: 80px 15px;
    text-align: center;
}
.edit-btn {
  /* background-color: transparent; */
  /* color: #000000; */
}
.divDialogElements input {
    font-size: 18px;
    padding: 3px;
    height: 32px;
    width: 500px;
}
.dirCell {
    border: 1px solid lightgray;
    padding: 25px;
}
.editor {
  float:left;
  width: calc(100% - 80px)
}
.runButton {
  width:50px;
  float:right;
}
.string-result {
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 13px;
  clear:left;
  max-width: 650px;
}

.string-result .error {
  margin: 0px;
  color: #d9534f;
  background-color: #fff;
  border: 1px solid #d9534f;
  border-radius: 0.25em;
  font-size: 75%;
  display: block;
  padding: 5px;
}
hr {
  /* border-top: 1px dotted #ddd;
  color: #fff;
  background-color: #fff;*/
  height: 1px;
  width:100%;
  margin: 2px;
}
h5.section {
  margin-bottom: 2px;
}

.cell pre {
  padding: 0px;
}
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #f5f5f5;
}

/* D3 Factor Graphs */

.factorgraph {
    /* background-color: #2c2c2c; */
    position:relative;
}

.factorgraph .fgnode {
	fill: #99cc99;
}

.factorgraph .fgnode_observed {
    fill: #652;
}

.factorgraph .fgfactor {
	stroke: #99cc99;
	stroke-width: 3px;
}

.factorgraph .fgfixed {
    fill: #f70;
}

.factorgraph .label {
	font-size: 15px;
	font-family: 'sans-serif';
	text-transform: none;
	text-shadow: none;
	fill: #333;
}

.factorgraph .tooltip {
	font-family: 'sans-serif';
}


.factorgraph .tooltipinner {
		/*background:#333;
		border:1.5px solid;
    	border-radius:10px;
    	padding:5px;

*/
}

.factorgraph .tooltipheader {
	margin:-5px -5px 0 -5px;
	padding:5px;
	margin-left: 120px;
	/*background-color:white;
    color:#333;
	border-bottom:gray 1.5px solid;
	font-style:italic;*/
}

.factorgraph .potentialtable {
	border-spacing: 0px;
	text-align: center;
	margin-left: 120px;
	background-color: #fcfcfc;
}

.factorgraph .potentialtable td {
	padding-top:3px;
	padding-left:15px;
}

svg.barchart {
    overflow:visible;
}

.barchart .bar {
    fill:#330066;
}

.barchart .barlabel {
    fill: #982;
}

.playbtn{
  float: left;
  background: #f70;
  color: #000;
  font-family: sans-serif;
  padding: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 0 rgba(255,255,255,.3);
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}