.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.container {
    width: 800px;
}
.topbar {
    margin-right: auto;
    margin-left: auto;
    /*width: 800px;*/
    /*background-color: #f5f5f5;*/
    position: relative;
}
.alertDiv {
    /*display: inline-block;*/
    margin: 0 auto;
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.alert {
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    z-index: 100;
    display: inline-block;
    /*display: none;*/
}
.cell {
    position: relative !important;
    width: 100%;
    overflow: hidden;
    padding: 1px;
}
.light-border {
    border: 1px solid #F0F0F0;
}
.cellWrapper {
    position: relative !important;
    width: 100%;
    overflow: hidden;
}
.sidebarCell {
    position: absolute;
    width: 20%;
    left: 620px;
    float: right;
    overflow: hidden;
    padding-right: 5px;
    z-index:100;
}
textarea {
    font-size: 12pt;
    font-family: Lucida Console;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.editorBody {
    padding: 80px 15px;
    text-align: center;
}
.edit-btn {
  /* background-color: transparent; */
  /* color: #000000; */
}
.divDialogElements input {
    font-size: 18px;
    padding: 3px;
    height: 32px;
    width: 500px;
}
.dirCell {
    border: 1px solid lightgray;
    padding: 25px;
}
.editor {
  float:left;
  width: calc(100% - 80px)
}
.runButton {
  width:50px;
  float:right;
}
.string-result {
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 13px;
  clear:left;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #f5f5f5;
}