.cell blockquote {
  border-left: 10px solid #eee;
}

/* ACE editor hacks for reveal.js */
/* ACE editor */
.reveal .ace_editor{
    position: relative !important;
    margin: auto;
    display:block;
    text-align: left;
    font-family: monospace !important;
    line-height: normal;
    font-size: 21px;
    border: 1px solid lightgray;
}

.reveal .ace_text-input {
    border: 5px;
}

.reveal .ace_cursor {
    border-left: 5px solid;
}

.reveal .fa {
    font-family: 'FontAwesome';
    font-style: normal;
}

.reveal .glyphicon {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 32px;
}

.string-result {
    margin:auto !important;
    max-width: 100%;
}

.MathJax {
    font-size: 40px;
}

.cell .red-box {
    stroke-width: 6px;
    stroke: red;
}

.cell .red-text {
    fill: red;
}

.reveal p {
  text-align: left;
}