.cell blockquote {
  border-left: 10px solid #eee;
}

/* ACE editor hacks for reveal.js */
/* ACE editor */
.reveal .ace_editor{
    position: relative !important;
    /*margin: auto; */
    display:block;
    text-align: left;
    font-family: monospace !important;
    line-height: normal;
    font-size: 22px;
    margin: 0 0px 5px 20px;

    /*border: 1px solid lightgray;*/
}

.reveal .ace_text-input {
    border: 5px;
}

.reveal .ace_cursor {
    border-left: 5px solid;
}

.reveal .fa {
    font-family: 'FontAwesome';
    font-style: normal;
}

.reveal .glyphicon {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 32px;
}

.reveal blockquote {
  border-left: 0px solid #777;
  padding-left: 0px;
  font-weight: 500;
  border: 0px;
  box-shadow: none;
  background: none;
  width: 100%;
  font-style: normal;
}

.reveal code {
  color: white;
  width: 100%;
  margin-bottom: -5px;
}

.reveal .string-result {
  margin-left: 40px;
  margin-bottom: 20px;
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 25px;
  clear:left;
  text-shadow: none;
  text-align: left;
}

.reveal .ace_gutter-layer {
  width: 42px !important;
}

