.exercise {
}

.extext{
  margin-left: 20px;
  margin-bottom: 20px;
}


.exname {
  font-weight: bold;
}

.summary {
  display: none
}

.edgePath path {
  stroke: white;
}

.parseTree .node text {
  //font-size: 30px;
}