@(document: controllers.doc.Document.DocumentData, file: String)

@import helper._

@main(document.name) {
    <div id="docNameDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="docNameLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3 class="modal-title">Please enter a new title for this document.</h3>
        </div>
        <div class="modal-body">
            <div class="divDialogElements">
                <input id="docNameInput" name="docNameInput" type="text" />
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <a href="#" class="btn btn-primary" onclick="okClicked ();">OK</a>
        </div>
        </div>
        </div>
    </div>
    <div class="editContainer container">
        <div class="row">
            <div class="col-md-8"><h1 id="docName">@(document.name)</h1></div>
            <div class="col-md-4">
                <div class="input-group">
                    <a data-toggle="modal" href="#docNameDialog" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    <button class="btn btn-default"><span class="glyphicon glyphicon-forward" onclick="runAll(doc)"></span></button>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="saveDoc(doc)"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                    </span>
                    <input id="filePath" type="text" class="form-control" value="@file">
                </div>
            </div>
        </div>
        <div id="cells"></div>

        <div id="postCells">
            <button id="add" type="button" class="btn btn-default" onclick="addCell(doc)"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <script>
            var doc = newDoc("@(document.name)");
            document.getElementById ("docNameInput").value = doc.name;

                @for(cell <- document.cells) {
                   var format = '@Html(cell.format)';
                   var content = '@Html(cell.escapedContent)';
                   addCellFromJson(doc, format, content, "");
                }

            $(document).ready(function() {

			});

				$('#docNameDialog').bind('show', function () {
					document.getElementById ("docNameInput").value = doc.name;
					});
                runAll(doc);

			function okClicked () {
				doc.name = document.getElementById ("docNameInput").value;
				$('#docNameDialog').modal('hide');
				$('#docName').text(doc.name);
			};
        </script>
    </div>
}