@(document: controllers.doc.Document.DocumentData, file: String, compilers: Compilers)

@import helper._

@main(document.name) {
    <div id="docNameDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="docNameLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
            <h3 class="modal-title">Please enter a new title for this document.</h3>
        </div>
        <div class="modal-body">
            <div class="divDialogElements">
                <input id="docNameInput" name="docNameInput" class="form-control" type="text" />
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            <a href="#" class="btn btn-primary" onclick="docNameOkClicked();">OK</a>
        </div>
        </div>
        </div>
    </div>
    <div id="saveAsDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="saveAsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                    <h3 class="modal-title">Save file as:</h3>
                </div>
                <div class="modal-body">
                    <div class="divDialogElements">
                        <input id="saveAsInput" name="saveAsInput" class="form-control" type="text" value="@file"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-primary" onclick="saveAsOkClicked();">OK</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row container topbar">
            <div id="alertDiv" class="alertDiv"></div>
        <!--div class="col-md-2"-->
            <div class="input-group text-right">
                        <span class="input-group-btn text-right">
                            <a data-toggle="modal" href="#docNameDialog" class="btn btn-default"><i class="fa fa-pencil fa-lg"></i></a>
                            <button class="btn btn-default"><i class="fa fa-forward fa-lg" onclick="runAll(doc,compilers)"></i></button>
                            <button class="btn btn-default" type="button" onclick="saveDoc(doc,compilers)"><i class="fa fa-save fa-lg"></i></button>
                            <a data-toggle="modal" href="#saveAsDialog" class="btn btn-default"><i class="fa fa-save fa-lg"></i><i class="fa fa-plus fa-sm"></i></a>
                        </span>
                <!--input id="filePath" type="text" class="form-control" value="@file"-->
            </div>
        <!--/div-->
    </div>
    <div class="container">
        <h1 id="docName" ondblclick="$('#docNameDialog').modal()">@(document.name)</h1>
        <div id="cells"></div>

        <div id="postCells">
            <button id="add" type="button" class="btn btn-default" onclick="addCell(doc,compilers)"><i class="fa fa-plus fa-lg"></i></button>
        </div>
        <script>
            function editorToolbar() {
                return '' +
                    @for(compiler <- compilers) {
                      '      <label class="btn btn-default"><input type="radio" name="mode" value="@{compiler.name}"> @Html(compiler.toolbarIcon)</label>' +
                    }
                    ''
            }

            bootstrap_alert = function(alertType, title, message, time, onClose) {
                    time = typeof time !== 'undefined' ? time : 2000;
                    onClose = typeof onClose !== 'undefined' ? onClose : function() {};
                    $('#alertDiv').html(
                      '<div class="alert alert-' + alertType + ' fade in alert-dismissable"><a class="close" data-dismiss="alert">×</a><span>'+
                      '<strong>' + title + '</strong>: ' +
                      message +
                      '</span></div>')
                    if(time > 0)
                      setTimeout(function() { $("#alertDiv .alert").alert('close'); onClose(); }, time);
            }

            /* COMPILERS OBJECT */
            var compilers = {};
            @for(c <- compilers) {
               compilers.@{c.name} = {};
               compilers.@{c.name}.hideAfterCompile = @{c.hideAfterCompile};
               compilers.@{c.name}.editor = @Html(c.editorJavascript);
               compilers.@{c.name}.editorToInput = @Html(c.editorToInput);
               compilers.@{c.name}.removeEditor = @Html(c.removeEditorJavascript);
            }

            /* DOCUMENT OBJECT */
            var doc = newDoc("@(document.name)");
            document.getElementById ("docNameInput").value = doc.name;

            @for(cell <- document.cells) {
               var format = '@Html(cell.compiler)';
               var content = '@Html(cell.escapedContent)';
               addCellFromJson(doc, format, content,compilers);
            }

            $(document).ready(function() {

			});

            $('#docNameDialog').bind('show', function () {
                document.getElementById ("docNameInput").value = doc.name;
            });

            runAll(doc,compilers);

			function docNameOkClicked () {
				doc.name = document.getElementById ("docNameInput").value;
				$('#docNameDialog').modal('hide');
				$('#docName').text(doc.name);
			};

			function saveAsOkClicked () {
				saveDoc(doc,compilers);
				$('#saveAsDialog').modal('hide');
			};
        </script>
    </div>
}