@()

@import helper._

@main("Scala PPL Compiler") {
<div class="container">
    <h1>Evaluate:</h1>
    <div class="input">
      <form id="modeForm">
        <input type="radio" name="mode" value="scala" checked="true"> Scala
        <input type="radio" name="mode" value="markdown"> Markdown
        <input type="radio" name="mode" value="latex"> Latex
      </form>
      <div id="editor" class="cell">def f(x: Int) = x*x&#13;&#10;f(10)</div>
      <button id="runCode" type="button" class="btn btn-default" onclick="runCode()">Run</button>(or press Ctrl + Enter)
    </div>
    <h2>Output</h2>
    <div id="outputDisplay" class="cell">100</div>
    <h2>Render</h2>
    <div id="renderDisplay" class="cell">100</div>
    <script>
        currentMode = "scala";

        function compileCode (codeStr, usage, mode) {
            $.ajax({
               type: "POST",
               contentType: "application/json",
               url: '/compiler/' + mode,
               data: JSON.stringify({ code: codeStr }),
               dataType: "json",
               success: usage,
               error: function(j, t, e) {}
            });
        };

        var heightUpdateFunction = function(editor, id) {

            // http://stackoverflow.com/questions/11584061/
            var newHeight =
                      editor.getSession().getScreenLength()
                      * editor.renderer.lineHeight
                      + editor.renderer.scrollBar.getWidth();

            $(id).height(newHeight.toString() + "px");
            // $('#editor-section').height(newHeight.toString() + "px");

            // This call is required for the editor to fix all of
            // its inner structure for adapting to a change in size
            editor.resize();
        };

        var renderDisplay = $('#renderDisplay');

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/solarized_light");
        editor.getSession().setMode("ace/mode/scala");
        editor.focus();
        editor.navigateFileEnd();

        heightUpdateFunction(editor, '#editor');
        editor.getSession().on('change', function () {
            heightUpdateFunction(editor, '#editor');
        });

        editor.commands.addCommand({
            name: "runCode",
            bindKey: {win: "Ctrl-Enter", mac: "Ctrl-Enter"},
            exec: function(editor) {
                document.getElementById("runCode").click();
            }
        })

        var outputDisplay = ace.edit("outputDisplay");
        heightUpdateFunction(outputDisplay, '#outputDisplay');
        outputDisplay.setTheme("ace/theme/github");
        outputDisplay.getSession().setMode("ace/mode/markdown");
        outputDisplay.setReadOnly(true);  // false to make it editable
        outputDisplay.setShowPrintMargin(true);
        outputDisplay.setHighlightActiveLine(false);
        outputDisplay.setShowInvisibles(true);
        //outputDisplay.renderer.setShowGutter(false);
        outputDisplay.getSession().on('change', function () {
            heightUpdateFunction(outputDisplay, '#outputDisplay');
        });

        var sz = document.forms['modeForm'].elements['mode'];
        for (var i=0, len=sz.length; i<len; i++) {
            sz[i].onclick = function() {
                console.log(currentMode, this.value);
                if(currentMode != this.value) {
                  changeMode(this.value);
                }
            };
        }

        function runCode() {
          compileCode(editor.getSession().getValue(),
            function(x) {
              outputDisplay.getSession().setValue(x.result);
              renderDisplay.html(x.result);
              MathJax.Hub.Queue(["Typeset",MathJax.Hub,"renderDisplay"]);
            }, currentMode);
        }

        function changeMode(newMode) {
          currentMode = newMode;
          editor.getSession().setMode("ace/mode/" + currentMode);
        }

    </script>
</div>
}