@()

@import helper._

@main("Scala PPL Compiler") {
<div class="container">
    <h1>Evaluate:</h1>
    <div class="input">
      <div id="modeForm" class="btn-group btn-group-xs" data-toggle="buttons">
         <label class="btn btn-default active"><input type="radio" name="mode" value="scala"> Scala</label>
         <label class="btn btn-default"><input type="radio" name="mode" value="markdown"> Markdown</label>
         <label class="btn btn-default"><input type="radio" name="mode" value="latex"> Latex</label>
         <label class="btn btn-default"><input type="radio" name="mode" value="heading1"> <span class="glyphicon glyphicon-header">1</span></label>
         <label class="btn btn-default"><input type="radio" name="mode" value="heading2"> <span class="glyphicon glyphicon-header">2</span></label>
         <label class="btn btn-default"><input type="radio" name="mode" value="heading3"> <span class="glyphicon glyphicon-header">3</span></label>
      </div>
      <div id="editor" class="cell light-border">def f(x: Int) = x*x&#13;&#10;f(10)</div>
      <button id="runCode" type="button" class="btn btn-default" onclick="runCode()">Run</button>(or press Ctrl + Enter)
    </div>
    <h2>Output</h2>
    <div id="outputDisplay" class="cell light-border">100</div>
    <h2>Render</h2>
    <div id="renderDisplay" class="cell light-border">100</div>
    <script>
        currentMode = "scala";

        var renderDisplay = $('#renderDisplay');

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/solarized_light");
        editor.getSession().setMode("ace/mode/scala");
        editor.focus();
        editor.navigateFileEnd();

        heightUpdateFunction(editor, '#editor');
        editor.getSession().on('change', function () {
            heightUpdateFunction(editor, '#editor');
        });

        editor.commands.addCommand({
            name: "runCode",
            bindKey: {win: "Ctrl-Enter", mac: "Ctrl-Enter"},
            exec: function(editor) {
                document.getElementById("runCode").click();
            }
        })

        var outputDisplay = ace.edit("outputDisplay");
        heightUpdateFunction(outputDisplay, '#outputDisplay');
        outputDisplay.setTheme("ace/theme/github");
        outputDisplay.getSession().setMode("ace/mode/markdown");
        outputDisplay.setReadOnly(true);  // false to make it editable
        outputDisplay.setShowPrintMargin(true);
        outputDisplay.setHighlightActiveLine(false);
        outputDisplay.setShowInvisibles(true);
        //outputDisplay.renderer.setShowGutter(false);
        outputDisplay.getSession().on('change', function () {
            heightUpdateFunction(outputDisplay, '#outputDisplay');
        });

            $('.btn').button();

        var sz = $('#modeForm label');
        for (var i=0, len=sz.length; i<len; i++) {
            sz[i].onclick = function() {
                newMode = this.querySelector('input').value;
                console.log(currentMode, newMode);
                if(currentMode != newMode) {
                  changeMode(newMode);
                }
            };
        }

        function outputResult(result) {
              outputDisplay.getSession().setValue(result);
              renderDisplay.html(result);
              MathJax.Hub.Queue(["Typeset",MathJax.Hub,"renderDisplay"]);
        }

        function runCode() {
          var code = editor.getSession().getValue();
          switch(currentMode) {
            case "heading1": outputResult("<h1>" + code + "</h1>"); break;
            case "heading2": outputResult("<h2>" + code + "</h2>"); break;
            case "heading3": outputResult("<h3>" + code + "</h3>"); break;
            default:
              compileCode(code,
                function(x) {
                  outputResult(x.result);
                }, currentMode); break;
          }
        }

        function changeMode(newMode) {
          currentMode = newMode;
          var editorMode = currentMode;
          switch(currentMode) {
            case "heading1": editorMode = "html"; break;
            case "heading2": editorMode = "html"; break;
            case "heading3": editorMode = "html"; break;
            default: break;
          }
          editor.getSession().setMode("ace/mode/" + editorMode);
        }

    </script>
</div>
}