@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @staticImports()
    </head>
    <body>
      <div id="wrap">
        @content
      </div>
      <script src="https://togetherjs.com/togetherjs-min.js"></script>
      <div id="footer">
          <div class="container">
              <p class="text-muted">This is <a href="http://github.com/wolfe-pack/moro">the Moro project</a>, developed by <a href="http://sameersingh.org">Sameer Singh</a>.</p>
          </div>
      </div>
    </body>
</html>
