@(document: controllers.doc.Document, compilers: Compilers)

@import helper._

@main(document.name) {
<div class="container">
    <h1>@Html(document.name)</h1>
    @document.cells.map { cell =>
    <div id="cell@{cell.id}" class="cellWrapper">
        <div id="editCell@{cell.id}" class="cell" hidden="true">
            <div class="input">
                <button id="runCode@{cell.id}" type="button" class="btn btn-default btn-xs" onclick="runCode(doc, @{cell.id},compilers)"><span class="glyphicon glyphicon-play"></span></button>
                <div id="editor@{cell.id}" class="cell light-border">
                  @Html(cell.input.code)
                </div>
            </div>
        </div>
        <div id="renderDisplay@{cell.id}" class="cell">
            Loading...
                <!--<pre>-->
                  <!--@Html(cell.toString)-->
                <!--</pre>-->
        </div>
    </div>
    }
    <script>
        function makeStaticCellFunctional(doc,id,compiler,compilers) {
            doc.cells[id] = new Object();
            doc.cells[id].id = id;
            doc.cells[id].mode = compiler;
            doc.cells[id].renderDisplay = $('#renderDisplay' + id);
            $('.btn').button();
        }

        function addStaticCellFromJson(id,doc,mode,input,compilers) {
          doc.ids.push(id);
          makeStaticCellFunctional(doc,id,mode,compilers);
          if(!compilers[mode].hideAfterCompile) {
            $('#editCell' + id).show();
            doc.cells[id].editor = compilers[mode].editor(id, input.code);
            doc.cells[id].editor.getSession().setValue(input.code);
          } else {
            toggleEditor(doc,id);
          }
        }

        function compileStaticCell(id,doc,mode,input,compilers) {
          var compiler = compilers[mode];
          if(compiler.aggregate) {
            var prefixInput = "";
            for(var mid in doc.ids) {
              if(doc.cells[mid].mode == mode) {
                if(id == mid) break;
                prefixInput = prefixInput + compiler.editorToInput(doc, doc.cells[mid].id).code + "\n";
              }
            }
            input.code = prefixInput + input.code;
          }
          compileCode(input,
              function(x) {
                outputResult(doc, id, x, compilers);
              }, doc.cells[id].mode);
        }

        /* COMPILERS OBJECT */
        var compilers = {};
        @for(c <- compilers) {
           compilers.@{c.name} = {};
           compilers.@{c.name}.hideAfterCompile = @{c.hideAfterCompile};
           compilers.@{c.name}.editor = @Html(c.editorJavascript);
           compilers.@{c.name}.editorToInput = @Html(c.editorToInput);
           compilers.@{c.name}.aggregate = @{c.aggregatePrevious};
        }

        /* DOCUMENT OBJECT */
        var doc = newDoc("@(document.name)");

        @for(cell <- document.cells) {
           var mode = '@Html(cell.compiler)';
           var input = @Html(cell.inputJson);
           var id = @{cell.id};
           addStaticCellFromJson(id, doc, mode, input,compilers);
        }

        @for(cell <- document.cells) {
           var mode = '@Html(cell.compiler)';
           var input = @Html(cell.inputJson);
           var id = @{cell.id};
           compileStaticCell(id, doc, mode, input, compilers);
        }
</script>

</div>
}