@(document: controllers.doc.Document, compilers: Compilers, docRoot: String, config: util.MoroConfig, user: Option[MoroUser])

@import helper._

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@{
            document.name
        }</title>
        @staticImports()
        @wolfeImports()
        <link rel="stylesheet" media="screen, print" href="@routes.Assets.at("stylesheets/statnlpbook.css")">
    </head>
    <body class="wrap">
        <header>
            <nav class="mobile-nav show-on-mobiles">
                    <!--{% include primary-nav-items.html %}-->
            </nav>
            <div class="grid">
                <div class="center-on-mobiles">
                    <h1>
                        <a href="http://localhost:9000/template/statnlpbook/00_intro">
                            <h1 class="logo-text">StatNLP</h1>
                        </a>
                    </h1>
                    <div id="slidesButton">[<a id="toggle-view" href="">Slides</a>]</div>
                    <script>
                    $(function() {
                        var url = window.location.href;
                        var toggle = $("#toggle-view");
                        toggle.attr("href",url.replace("statnlpbook","statnlpbookScrollReveal"));
                    });
                    </script>
                </div>
            </div>
        </header>
        <section>
            <div class="grid">
                <div>
                @for(c <- compilers) {
                    @Html(c.prefixHTML)
                }
                </div>
                <div id="static_content" class="unit center-on-mobiles">
                    <h1>@Html(document.name)</h1>
                </div>
                @staticContent("static_content", document, compilers, docRoot, user, "chaos", config.allowExecution("statnlpbook"))
            </div>
        </section>
        <script>

           $(function() {
             console.log("Removing slide-only content");
             window.setTimeout(function() {
               console.log($(".slide-start"));
               console.log($('.slide-start').nextUntil('.slide-end').andSelf());
               $('.slide-start').nextUntil('.slide-end').andSelf().remove();
             },1000);
           });
        </script>
    </body>
</html>

