@(document: controllers.doc.Document, compilers: Compilers, docRoot: String, config: util.MoroConfig, user: Option[MoroUser])

@import helper._

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@{document.name}</title>
    @staticImports()
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
      <div id="wrap">
          <div class="container">
              <ol class="breadcrumb">
                  <li class="text-muted">@{document.name}</li>
                  @userNavBtn(user)
              </ol>
              <div>
                  @for(c <- compilers) { @Html(c.prefixHTML) }
              </div>
              <div id="static_content">
                  <h1>@Html(document.name)</h1>
              </div>
              @staticContent("static_content", document, compilers, docRoot, user, "tomorrow", config.allowExecution("static"))
          </div>
      </div>
      <script src="https://togetherjs.com/togetherjs-min.js"></script>
    <div id="footer">
        <div class="container">
            <p class="text-muted">This is <a href="http://github.com/wolfe-pack/moro">the Moro project</a>, developed by <a href="http://sameersingh.org">Sameer Singh</a>.</p>
        </div>
    </div>
    </body>
</html>

