@(document: controllers.doc.Document, compilers: Compilers, docRoot: String, config: util.MoroConfig, user: Option[MoroUser])

@import helper._

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=120">
        <title>@{
            document.name
        }</title>
        @staticImports()
        @wolfeImports()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/statnlpbook.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/statnlpbookScrollReveal.css")">

    </head>
    <body class="wrap">
        <header>
            <nav class="mobile-nav show-on-mobiles">
                    <!--{% include primary-nav-items.html %}-->
            </nav>
            <div class="grid">
                <div class="center-on-mobiles">
                    <h1>
                        <a href="http://localhost:9000/template/statnlpbook/00_intro">
                            <h1 class="logo-text">StatNLP</h1>
                        </a>
                    </h1>
                    [<a id="toggle-view" href="">Text</a>]
                    <script>
                    $(function() {
                        var url = window.location.href;
                        var toggle = $("#toggle-view");
                        toggle.attr("href",url.replace("statnlpbookScrollReveal","statnlpbook"));
                    });
                    </script>

                </div>
            </div>
        </header>
        <section>
            <div class="grid">
                <div>
                @for(c <- compilers) {
                    @Html(c.prefixHTML)
                }
                </div>
                <div id="static_content" class="unit center-on-mobiles">
                    <h1>@Html(document.name)</h1>
                </div>
                @staticContent("static_content", document, compilers, docRoot, user, "chaos", config.allowExecution("statnlpbook"))
            </div>
        </section>
        <script src="@routes.Assets.at("javascripts/scrollReveal.min.js")" type="text/javascript"></script>
        <script>

      var bratSVGScale = 2;

      window.setTimeout(function() {
        //get all cell wrappers and add data-sr fields
        /*
        $(".cellWrapper").each(function (){
          $(this).attr('data-sr','')
        });
        $(".srdiv").each(function() {
            $(this).replaceWith($('<div data-sr>' + this.innerHTML + '</div>'));
        });
        */
        function scaleSVG(svg,scale) {
            var width = svg.width();
            var height = svg.height();
            var newWidth = scale * width;
            var newHeight = scale * height;
            svg.width(newWidth);
            svg.height(newHeight);
            svg.parent().height(newHeight);
        }
        //increase the size of brat examples
//        $(".bratsvg").each(function() {scaleSVG($(this),2)});

        //in paragraphs with summary elements, remove everything else
        $("p").has('.summary').contents().filter(function(){return(this.nodeType === 3)}).remove()
        $("p").has('.summary').children().not('.summary').remove()

        //create divs at the start of each slide
        $(".newslide").after("<div class='slideStart'></div>");
        var anchors = $(".slideStart")

        //add anchors for slides
        var i = 0;
        anchors.each(function(){ $(this).attr("id","slide" + i); i++; });

        //function to return the closest slideStart element to current scrollTop
        function closestSlideStartIndex() {
          var top = $(document).scrollTop() ;
          //if top is before first slide return -1
          //console.log(top);
          //console.log(window.scrollY);
          //console.log("===");
          //console.log($(anchors[0]).offset().top);
          //console.log(anchors[0].offsetTop);
          if ($(anchors[0]).offset().top - 2> top) return -1;
          for (var i = 0; i < anchors.length; i++) {
            var current = $(anchors[i]).offset().top;
            //console.log("---");
            //console.log(current);
            //console.log(anchors[i].offsetTop);
            if (current >= top) return i;
          }
          return anchors.length-1;
        }

        //scroll to slides
        $(document).keydown(function(e){
            if (e.keyCode == 39) {
                var index = closestSlideStartIndex()
                console.log(index);
                if (index + 1 < anchors.length) {
                    var top = $(anchors[index + 1]).offset().top;
                    $("html, body").animate({scrollTop: top }, 500);
                }
            }
            if (e.keyCode == 37) {
                var index = closestSlideStartIndex()
                console.log(index);
                if (index > 0) {
                    var top = $(anchors[index - 1]).offset().top;
                    $("html, body").animate({scrollTop: top}, 500);
                } else $("html, body").animate({scrollTop: 0}, 500);
            }
        });

        /*
        var config = {
          enter:  'top',
          move:   '0px',
          flip:   '0deg',
          spin:   '0deg',
          roll:   '0deg',
          reset:  true,
          vFactor:  0.01,
          //viewport: document.getElementById('viewport')
        }

        window.sr = new scrollReveal(config);
        */
        console.log("Test");
      }, 1000);

    </script>
    </body>
</html>

