@(id: String, document: controllers.doc.Document, compilers: Compilers, docRoot: String, user: Option[MoroUser], aceTheme: String)

<script>
    var divCells = $('#@id');
    /* COMPILERS OBJECT */
    var compilers = {};
    @for(c <- compilers) {
        compilers.@{c.name} = {};
        compilers.@{c.name}.hideAfterCompile = @{c.hideAfterCompile};
        compilers.@{c.name}.editor = @Html(c.editorJavascript(false));
        compilers.@{c.name}.editorToInput = @Html(c.editorToInput);
        compilers.@{c.name}.aggregate = @{c.aggregatePrevious};
    }

    /* DOCUMENT OBJECT */
    var doc = newDoc("@(document.name)");
    doc.aceTheme = '@aceTheme';

    /* add cells */
    @for(cell <- document.cells) {
        var mode = '@Html(cell.compiler)';
        var input = @Html(cell.inputJson);
        var id = @{cell.id};
        createStaticCellHTML(id, divCells, doc, mode, input, compilers);
    }
    compileAll(doc,compilers);
    enableAceScalaCompletion();
</script>
