@(document: controllers.doc.Document, compilers: Compilers, docRoot: String, user: Option[MoroUser])

@import helper._

@main(document.name) {
<div class="container">
    <ol class="breadcrumb">
        <li class="text-muted">@{document.name}</li>
        @userNavBtn(user)
    </ol>
    <h1>@Html(document.name)</h1>
</div>
<script src="@routes.Assets.at("javascripts/editor.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/moro-static.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/static.css")">
<script>
    /* COMPILERS OBJECT */
    var compilers = {};
    @for(c <- compilers) {
    compilers.@{c.name} = {};
    compilers.@{c.name}.hideAfterCompile = @{c.hideAfterCompile};
    compilers.@{c.name}.editor = @Html(c.editorJavascript);
    compilers.@{c.name}.editorToInput = @Html(c.editorToInput);
    compilers.@{c.name}.aggregate = @{c.aggregatePrevious};
    }

    /* DOCUMENT OBJECT */
    var doc = newDoc("@(document.name)");

    /* add cells */
    var divCells = $('div.container');
    @for(cell <- document.cells) {
    var mode = '@Html(cell.compiler)';
    var input = @Html(cell.inputJson);
    var id = @{cell.id};
    createStaticCellHTML(id, divCells, doc, mode, input, compilers);
    }
    compileAll(doc,compilers);
    enableAceScalaCompletion();
</script>
}