@(document: controllers.doc.Document, compilers: Compilers)

@import helper._
@import java.io.File

@directory(path:String) = @{
  new Directory(path)
}

@dirNav(path:String) = {
    @directory(path).files.map { notebook =>
        <ul>
            <li class="@if(notebook.title==document.name){current}"><a href="/doc/wolfe-static@{notebook.href}">@{notebook.title}</a></li>
            @if(notebook.title==document.name) {
            <ul>
                @document.cells.filter(_.compiler == "heading3").map { cell =>
                    <li><a href="#cell@{cell.id}">@{cell.input.code}</a></li>
                }
            </ul>
            }
        </ul>
    }
}


@wolfeMain(document.name) {
    <section>
        <div class="grid">
            <div class="unit four-fifths center-on-mobiles">
                <h1>@Html(document.name)</h1>
                @document.cells.map { cell =>
                <div id="cell@{cell.id}" class="cellWrapper">
                    <div id="editCell@{cell.id}" class="cell" hidden="true">
                        <div class="input">
                            <div>
                                <div id="editor@{cell.id}" class="cell light-border wolfe-editor">
                                </div>
                                <a id="runCode@{cell.id}" type="button" class="wolfe-run"
                                   onclick="runCode(doc, @{cell.id},compilers)">
                                    <i class="fa fa-play-circle-o fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                    <div id="renderDisplay@{cell.id}" class="cell">
                        <pre>
                          @Html(cell.toString)
                        </pre>
                    </div>
                </div>
                }
            </div>
            <div class="unit one-fifth hide-on-mobiles">
                <div class="doc-nav">
                    <h4>Getting Started</h4>
                    @dirNav("wolfe/docs/gettingstarted")
                    <h4>Concepts</h4>
                    @dirNav("wolfe/docs/concepts")
                    <h4>Examples</h4>
                    @dirNav("wolfe/docs/examples")

                </div>
                <!--</aside>-->
            </div>
        </div>
    </section>
    <script>
        function makeStaticCellFunctional(doc,id,compiler,compilers) {
            doc.cells[id] = new Object();
            doc.cells[id].id = id;
            doc.cells[id].mode = compiler;
            doc.cells[id].renderDisplay = $('#renderDisplay' + id);
            $('.btn').button();
        }

        function addStaticCellFromJson(id,doc,mode,input,compilers) {
          doc.ids.push(id);
          makeStaticCellFunctional(doc,id,mode,compilers);
          if(!compilers[mode].hideAfterCompile) {
            $('#editCell' + id).show();
            doc.cells[id].editor = compilers[mode].editor(id);
            doc.cells[id].editor.getSession().setValue(input.code);
          } else {
            toggleEditor(doc,id);
          }
        }

        function compileStaticCell(id,doc,mode,input,compilers) {
          var compiler = compilers[mode];
          if(compiler.aggregate) {
            var prefixInput = "";
            for(var mid in doc.ids) {
              if(doc.cells[mid].mode == mode) {
                if(id == mid) break;
                prefixInput = prefixInput + compiler.editorToInput(doc, doc.cells[mid].id).code + "\n";
              }
            }
            input.code = prefixInput + input.code;
          }
          compileCode(input,
              function(x) {
                outputResult(doc, id, x, compilers);
              }, doc.cells[id].mode);
        }

        /* COMPILERS OBJECT */
        var compilers = {};
        @for(c <- compilers) {
           compilers.@{c.name} = {};
           compilers.@{c.name}.hideAfterCompile = @{c.hideAfterCompile};
           compilers.@{c.name}.editor = @Html(c.editorJavascript);
           compilers.@{c.name}.editorToInput = @Html(c.editorToInput);
           compilers.@{c.name}.aggregate = @{c.aggregatePrevious};
        }

        /* DOCUMENT OBJECT */
        var doc = newDoc("@(document.name)");

        @for(cell <- document.cells) {
           var mode = '@Html(cell.compiler)';
           var input = @Html(cell.inputJson);
           var id = @{cell.id};
           addStaticCellFromJson(id, doc, mode, input,compilers);
        }

        @for(cell <- document.cells) {
           var mode = '@Html(cell.compiler)';
           var input = @Html(cell.inputJson);
           var id = @{cell.id};
           compileStaticCell(id, doc, mode, input, compilers);
        }
    </script>

}